/* Header Image Styling */
.header-image {
    width: 120px; /* Set default size for the image */
    height: auto;
    border: 2px solid white;
    margin-top: 20px; /* Add spacing below the title */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .header-image {
      width: 80px; /* Smaller size for mobile */
    }
  }
  

  .navbar-toggler {
    border: 2px solid #ffffff !important; /* Adjust color and thickness */
  }
  .navbar-toggler:hover {
    border-color: #cccccc; /* Adjust hover outline color */
  }
  .navbar-toggler {
    border-radius: 8px; /* Make the outline corners rounded */
  }
  